$copy: #586678;
$dark: #2E2E2E;
$light-blue: #00A8EC;
$dark-blue: #003150;
$mid-blue: #586678;
$grey: #616161;
$orange: #F88F2B;
$light-grey: #D0D6D7;
$lightest: #EDF4F6;
$line: #D5DDE2;
$filter: #B8C5CA;
